<div class="back-asuka">
</div>
<div class="top">
<h1>
  <%= link_to 'アスカ見参 値段識別', root_path, class: "title" %>
</h1>

<%= form_with(url: search_path, local: true, method: :get, autocomplete: 'off') do |form| %>
  <%= form.text_field :price, placeholder: "値段入力（半角数字）",class: "item-price", autofocus: true, autocomplete: 'off'%>
  <%= form.submit "識別", class: "item-search" %>
<% end %>
<div class="item-shikibetsu">
  <% if @buys.exists? %>
    <div class="items-buy">
      <div class="items">
        <%= "#{@price}ギタンで購入できるアイテム" %>
      </div>
      <% @buys.each do |buy| %>
        <div class="item-img">
          <%= image_tag 'kusa.png', class: "item-img" if buy.kind == "kusa" %>
          <%= image_tag 'udewa.png', class: "item-img" if buy.kind == "udewa" %>
          <%= image_tag 'makimono.png', class: "item-img" if buy.kind == "makimono" %>
          <%= image_tag 'onigiri.png', class: "item-img" if buy.kind == "onigiri" %>
          <%= image_tag 'tue.png', class: "item-img" if buy.kind == "tue" %>
          <%= image_tag 'tubo.png', class: "item-img" if buy.kind == "tubo" %>
          <%= image_tag 'buki.png', class: "item-img" if buy.kind == "buki" %>
          <%= image_tag 'tate.png', class: "item-img" if buy.kind == "tate" %>
          <%= image_tag 'ya.png', class: "item-img" if buy.kind == "ya" %>
          <%= image_tag 'tama.png', class: "item-img" if buy.kind == "tama" %>
          <%= image_tag 'ishi.png', class: "item-img" if buy.kind == "ishi" %>
          <%= image_tag 'fuumaseki.png', class: "item-img" if buy.kind == "fuumaseki" %>
          <%= buy.name %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if @sells.exists? %>
    <div class="items-sell">
      <div class="items">
        <%= "#{@price}ギタンで売却できるアイテム" %>
      </div>
      <% @sells.each do |sell| %>
      <div>
          <%= image_tag 'kusa.png', class: "item-img" if sell.kind == "kusa" %>
          <%= image_tag 'udewa.png', class: "item-img" if sell.kind == "udewa" %>
          <%= image_tag 'makimono.png', class: "item-img" if sell.kind == "makimono" %>
          <%= image_tag 'onigiri.png', class: "item-img" if sell.kind == "onigiri" %>
          <%= image_tag 'tue.png', class: "item-img" if sell.kind == "tue" %>
          <%= image_tag 'tubo.png', class: "item-img" if sell.kind == "tubo" %>
          <%= image_tag 'buki.png', class: "item-img" if sell.kind == "buki" %>
          <%= image_tag 'tate.png', class: "item-img" if sell.kind == "tate" %>
          <%= image_tag 'ya.png', class: "item-img" if sell.kind == "ya" %>
          <%= image_tag 'tama.png', class: "item-img" if sell.kind == "tama" %>
          <%= image_tag 'ishi.png', class: "item-img" if sell.kind == "ishi" %>
          <%= image_tag 'fuumaseki.png' if sell.kind == "fuumaseki" %>
        <%= sell.name %>
      </div>
      <% end %>
    <% end %>
  </div>
  <% if @price != nil && @buys.exists? == false && @sells.exists? == false %>
    <div class="items-none">
      <div class="items">
        <%= "#{@price}ギタンのアイテムはありません" %>
      </div>
    </div>
  <% end %>
</div>
<div>
  ※エレキ箱、回路、秘技書は除く
</div>
<div>
  値段が違っている等、何かあれば<%= link_to '@hukudabe', 'https://twitter.com/hukudabe', target: :_blank, class: "link" %>まで
</div>