<h1>アスカ見参 値段識別</h1>

<%= form_with(url: search_path, local: true, method: :get, autocomplete: 'off') do |form| %>
  <%= form.text_field :price, placeholder: "値段検索", autofocus: true, autocomplete: 'off'%>
  <%= form.submit "検索" %>
<% end %>
<div>
  <% if @buys.exists? %>
    <div class="items-buy">
      <div class="items">
        <%= "#{@price}ギタンで売られているアイテム" %>
      </div>
      <% @buys.each do |buy| %>
        <div>
          <%= "□ " if buy.kind == "kusa" %>
          <%= "■ " if buy.kind == "udewa" %>
          <%= "○ " if buy.kind == "makimono" %>
          <%= "● " if buy.kind == "onigiri" %>
          <%= "☆ " if buy.kind == "tue" %>
          <%= "★ " if buy.kind == "tubo" %>
          <%= "△ " if buy.kind == "buki" %>
          <%= "▲ " if buy.kind == "tate" %>
          <%= "▽ " if buy.kind == "ya" %>
          <%= "▼ " if buy.kind == "tama" %>
          <%= "＃ " if buy.kind == "ishi" %>
          <%= "＊ " if buy.kind == "fuumaseki" %>
          <%= buy.name %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
  <% if @sells.exists? %>
    <div class="items-sell">
      <div class="items">
        <%= "#{@price}ギタンで売れるアイテム" %>
      </div>
      <% @sells.each do |sell| %>
      <div>
          <%= "□ " if sell.kind == "kusa" %>
          <%= "■ " if sell.kind == "udewa" %>
          <%= "○ " if sell.kind == "makimono" %>
          <%= "● " if sell.kind == "onigiri" %>
          <%= "☆ " if sell.kind == "tue" %>
          <%= "★ " if sell.kind == "tubo" %>
          <%= "△ " if sell.kind == "buki" %>
          <%= "▲ " if sell.kind == "tate" %>
          <%= "▽ " if sell.kind == "ya" %>
          <%= "▼ " if sell.kind == "tama" %>
          <%= "＃ " if sell.kind == "ishi" %>
          <%= "＊ " if sell.kind == "fuumaseki" %>
        <%= sell.name %>
      </div>
      <% end %>
    <% end %>
  </div>
  <% if @price != nil && @buys.exists? == false && @sells.exists? == false %>
    <div class="items-none">
      <div class="items">
        <%= "#{@price}ギタンのアイテムはありません" %>
      </div>
    </div>
  <% end %>
</div>
<div>
  ※エレキ箱、回路、秘技書は除く