<div class="back-asuka">
</div>
<div class="top">
<h1>
  <%= link_to 'アスカ見参 値段識別', root_path, class: "title" %>
</h1>

<%= form_with(url: search_path, local: true, method: :get, autocomplete: 'off') do |form| %>
  <%= form.text_field :price, placeholder: "値段入力（半角数字）",class: "item-price", autofocus: true, autocomplete: 'off', maxlength: "6"%>
  <%= form.submit "識別", class: "item-search" %>
<% end %>
<div class="item-shikibetsu">
  <div class="items-buy">
    <div class="items">
      <%= "#{@price}ギタンで購入できるアイテム" %>
    </div>
    <% if @kusa_buys %>
      <% @kusa_buys.each do |buy| %>
        <div class="item-img">
          <%= image_tag 'kusa.png', class: "item-img"%>
          <%= buy.name %>
        </div>
      <% end %>
    <% end %>
    <% if @tue_buys %>
      <% @tue_buys.each do |buy| %>
        <div class="item-img">
          <%= image_tag 'tue.png', class: "item-img"%>
          <%= buy.name %>
        </div>
      <% end %>
    <% end %>
    <% if @tubo_buys %>
      <% @tubo_buys.each do |buy| %>
        <div class="item-img">
          <%= image_tag 'tubo.png', class: "item-img"%>
          <%= buy.name %>
        </div>
      <% end %>
    <% end %>
    <% if @udewa_buys %>
      <% @udewa_buys.each do |buy| %>
        <div class="item-img">
          <%= image_tag 'udewa.png', class: "item-img"%>
          <%= buy.name %>
        </div>
      <% end %>
    <% end %>
    <% if @makimono_buys %>
      <% @makimono_buys.each do |buy| %>
        <div class="item-img">
          <%= image_tag 'makimono.png', class: "item-img"%>
          <%= buy.name %>
        </div>
      <% end %>
    <% end %>
    <% if @buki_buys %>
      <% @buki_buys.each do |buy| %>
        <div class="item-img">
          <%= image_tag 'buki.png', class: "item-img"%>
          <%= buy.name %>
        </div>
      <% end %>
    <% end %>
    <% if @tate_buys %>
      <% @tate_buys.each do |buy| %>
        <div class="item-img">
          <%= image_tag 'tate.png', class: "item-img"%>
          <%= buy.name %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="items-sell">
    <div class="items">
      <%= "#{@price}ギタンで売却できるアイテム" %>
    </div>
    <% if @kusa_sells %>
      <% @kusa_sells.each do |sell| %>
        <div>
          <%= image_tag 'kusa.png', class: "item-img" %>
          <%= sell.name %>
        </div>
      <% end %>
    <% end %>
    <% if @tue_sells %>
      <% @tue_sells.each do |sell| %>
        <div>
          <%= image_tag 'tue.png', class: "item-img" %>
          <%= sell.name %>
        </div>
      <% end %>
    <% end %>
    <% if @tubo_sells %>
      <% @tubo_sells.each do |sell| %>
        <div>
          <%= image_tag 'tubo.png', class: "item-img" %>
          <%= sell.name %>
        </div>
      <% end %>
    <% end %>
    <% if @udewa_sells %>
      <% @udewa_sells.each do |sell| %>
        <div>
          <%= image_tag 'udewa.png', class: "item-img" %>
          <%= sell.name %>
        </div>
      <% end %>
    <% end %>
    <% if @makimono_sells %>
      <% @makimono_sells.each do |sell| %>
        <div>
          <%= image_tag 'makimono.png', class: "item-img" %>
          <%= sell.name %>
        </div>
      <% end %>
    <% end %>
    <% if @buki_sells %>
      <% @buki_sells.each do |sell| %>
        <div>
          <%= image_tag 'buki.png', class: "item-img" %>
          <%= sell.name %>
        </div>
      <% end %>
    <% end %>
    <% if @tate_sells %>
      <% @tate_sells.each do |sell| %>
        <div>
          <%= image_tag 'tate.png', class: "item-img" %>
          <%= sell.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div>
  ※エレキ箱、回路、秘技書は除く
</div>
<div>
  値段が違っている等、何かあれば<%= link_to '@hukudabe', 'https://twitter.com/hukudabe', target: :_blank, class: "link" %>まで
</div>
<%= link_to "csvで出力する", search_path(format: :csv) %>